textarea{
    resize: none;
}
nav{
    background-color: red;
    font-size: 30px;
    font-family: 'Kalam', cursive;
}
.recipe_list_title, .create_recipe{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Kalam', cursive;
    color: white;
}
.create_recipe h1{
    color: rgb(36, 2, 2);
    background: rgb(255, 255, 255, .5);
}

.edit_recipe h1{
    color: rgb(136, 60, 223);
    background: rgb(255, 255, 255, .5);
}
.recipe_details_page, .welcome{
    display: flex;
    flex-direction: column;
    align-items:  center;
    font-family:  cursive;
    
}
.defaultRecipes, .default_recipe_details{
    display: flex;
    flex-direction: column;
    align-items:  center;
}
.defaultRecipes{
    padding-left: 100px;
    padding-right: 100px;
}
.defaultRecipes img{
    width: 700px;
    height: 500px;
    border: 2px solid red;
    border-radius: 30px;
}
.welcome h1{
 font-size: 70px;
}
.welcome h2{
    font-size: 60px;
}
.recipe_details_page h1, .defaultRecipes h1{
    font-family: 'Kalam', cursive;
}
.recipe_details_page h2, h3, h4{
    font-family: 'Boogaloo', cursive;
}
.recipe_details_page :nth-child(4){
    width: 700px;
}
.default_recipe_details li{
  font-family: cursive;
}
.edit_delete{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Boogaloo', cursive;
}
.deleteButton{
    background: black;
    color: white;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav ul li{
    color: white;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    text-decoration-color: wheat;
}
.recipe_image{
    width: 300px;
    height: 150px;
}
.recipes{
    height: 200px;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 10px;
    margin: 30px;
    box-shadow: 5px 10px gray;
    transition: .3s;
}
.recipes:hover{
    box-shadow: 0 0;
    height: 190px;
}
.recipes div{
    margin: 10px;
}
@media only screen and (max-width: 500px){
  .recipes{
      height: 150px;
      margin: 10px;
  }
  .recipe_image{
    width: 210px;
    height: 100px;
}
}

.outer_container{
    background: url("../images/recipeBack1.jpg");
    background-size: cover;
}
.edit_container{
    background: url("../images/recipeBack3.jpg");
    background-size: cover;
}
.outer_container h3{
    color: rgb(36, 2, 2);
    font-family: 'Boogaloo', cursive;
    font-size: 20px;
}
.first_container{
    display: flex;
    justify-content: center;
}
.create_container, .recipe_details_page, .updateContainer{
    height: 550px;
    width: 1000px;
    background: rgb(253, 251, 251, .5);
     border: 10px solid white;
     border-radius: 30px;
    overflow: auto;
}
.recipe_details_page{
    border: 5px solid black;

}
.recipe_details_page img{
    border: 2px solid rgb(238, 32, 32);
    border-radius: 20px;
}

.details_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../images/recipeBack2.jpg");
}
.recipe_details_title{
  color: rgb(17, 5, 2);
  background: rgb(255, 255, 255, .5);
}
.createRecipeForm, .updateRecipeForm{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.ingredient_list_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list_of_ingredients div{
    display: flex;
    align-items: center;
}

.ingredients_list{
    font-size: 30px;
    text-decoration: underline;
}

.ingredient_name{
    font-family: 'Kalam', cursive;
    font-weight: bold;
}
.createRecipeForm select, .updateRecipeForm select{
    width: 300px;
    background-color: rgb(247, 230, 230);
    font-size: 16px;
}
.add_ingredient1, .add_ingredient2, .create_ingredient{
    height: 30px;
    width: 200px;
     border: 4px solid white;
    background: rgb(209, 13, 127);
    color: white;
    border-radius: 5px;
    font-size: 15px;
}

.remove_ingredient{
    height: 30px;
     border: 4px solid white;
    background: rgb(17, 1, 11);
    color: white;
    border-radius: 5px;
    font-size: 12px;
}
label{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    font-size: 18px;
    margin: 5px;
}
textarea, input, select{
    border: solid red;
    border-radius: 8px;
    
}
textarea{
    font-size: 15px;
    height: 100px;
}

.image_url{
    width: 400px;
}
.createRecipeButton{
    border: 5px solid white;
    background: red;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.save{
    border: 5px solid white;
    background: rgb(17, 19, 100);
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.editLink:hover{
    text-decoration-color: red;
}

.ingredient_modal{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8);
   display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.add_ingredient_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    width: 500px;
    height: 200px;
    border-radius: 20px;
    border: 2px solid red;
}
.modal_container{
    display: flex;
}
.close_ingredient_modal{
    height: 30px;
    width: 30px;
    background: url('../images/close.png');
    background-size: cover;
}
.hide{
    display: none;
}

.user{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


@media only screen and (max-width: 800px){
    .recipe_details_page{
        width: 600px;
    }
}
@media only screen and (max-width: 700px){
    .defaultRecipes img{
        width: 400px;
        height: 300px; 
    }
    .recipe_details_page{
        width: 500px;
    }
}

@media only screen and (max-width: 500px){
    nav ul{
        flex-direction: column;
    }
    .defaultRecipes{
        padding-left: 20px;
        padding-right: 20px;
    }

    .recipe_details_page{
        width: 400px;
    }
}
