<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/style.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/js/script.js"></script>
    </head>
    <body>
    <h1>Welcome To Mex Rex</h1>
    <a class="enter" href="/recipes"><h2 >Enter</h2></a>
    </body>
</html>