<% include ../partials/header %>
<div class="outer_container">
    

<div class="create_recipe">
    <h2>Create recipe</h2>
</div>
<div class="first_container">
    
<div class="create_container">
   <form class="createRecipeForm" action="" method="">
    <label>
     <h3>Recipe Name: </h3> 
     <input type="text" name="recipe_name" placeholder="Enter Recipe Name">
    </label>
    <br>
    <br>
    <label>
      <h3> Description:</h3> 
     <textarea name="description" rows="3" cols="40" placeholder="Enter Recipe Description"></textarea>
    </label>
    <br>
    <br>
    <div class="add_ingredient_container">
    <input type="text" class="ingredient" placeholder="Enter ingredient Name">
    
        <button class="add_ingredient" type="button">Add Ingredient</button> 
    </div>
    
        <div class="ingredient_list_container">
        <h3 class="ingredients_list">Ingredients List</h3>
        <select class="ingredients" name="ingredients" size="8" multiple>
     
         </select>
      <br>
        <button class="remove_ingredient" type="button">Remove Ingredient</button> 
    </div>
    
    <br>
    <br>
    <label>
      <h3> Instructions:</h3> 
     <textarea name="instructions" rows="3" cols="40" placeholder="Enter Recipe Instructions"></textarea>
    </label>
    <br>
    <br>
     <label>
      <h3> Nutrition: </h3>
     <textarea name="nutrition" rows="3" cols="40" placeholder="Enter Nutrition Facts"></textarea>
    </label>
    <br>
    <br>
    <label>
      <h3> Recipe Image:</h3> 
     <input class="image_url" type="text" name="image_url" placeholder="Enter Image url">
    </label>
    <br>
    <br>
    <button class="createRecipeButton">Create Recipe</button>
   </form>
</div>
</div>
</div>
<% include ../partials/footer %>