<% include ../partials/header %>
    <div>
        <%recipes.forEach(recipe =>{%>
            <h2><%=recipe.recipe_name%> </h2>
            <p><%=recipe.description%></p><br>
            <a href="recipes/<%=recipe.recipe_id%>"><img src="<%=recipe.image_url%>" alt=""></a>
      <%}) %>
        </div>
     
    </div>
   <% include ../partials/footer %>