<% include ../partials/header %> <!-- imports the header.ejs file -->

   
<div>
    <br>
    <br>
    <br>
    <form  action="" class="form">
        <h1>SIGN IN</h1>
        <h2 class="invalid">Invalid Credentials !!</h2>
        <label>
           <h3>Email</h3> 
            <input class="email" type="email" name="email" placeholder="Email" required>
        </label>
        <label>
           <h3>Password</h3> 
            <input type="password" name="password" placeholder="Password" required>
        </label>
        <button class="sign_in" type="submit">SIGN IN</button>
        <br>
        <a href="/sign_in/register">
            <h4>Create A New Account</h4>
        </a>
    </form>

   
</div>



    <% include ../partials/footer %>
        <!-- imports the footer.ejs file -->